var Icon = React.createClass({
  
  icon: function() {
    switch (this.props.icon) {
      case 'favorite':
        return (
          {
            width: '16px',
            height: '16px',
            display: 'inline',
            background: "url(<%= image_path('favorite.png') %>)",
            backgroundRepeat: 'no-repeat',
            paddingRight: '16px',
            paddingLeft: '16px'
          }
        );
      case 'retweet':
        return (
          {
            background: "url(<%= image_path('retweet.png') %>)",
            width: '16px',
            height: '16px',
            backgroundRepeat: 'no-repeat',
            paddingRight: '16px',
            paddingLeft: '16px'
          }
        );
    }
  },

  render: function() {
    return(
      <span className='icon' style={this.icon()}> </span>
    );
  }
})
