<h2>Hello Stack Commerce!</h2>

<p>My name is Mike Lerner and here's the project you asked for!  It's super bare bones and with more time, sky's the limit!</p>

<%= render 'twitter_form' %>

<%= render 'tweet_data' %>

<script>
  TweetData.getTweets();
</script>
